[diff]
    external = /home/sch/Tools/tools/env/diffvimgit
    renames = true
[core]
    pager = cat
    editor = gvim -f
    whitespace = nowarn
    excludesfile = /home/sch/.gitignore

[apply]
    whitespace = fix

[user]
    name = sch
    email = sch@netgem.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    showbranch = auto
    grep = auto
    ui = true
    pager = true

[alias]
    st = status -uno
    stu = status -u
    ci = commit
    cat = show
    br = branch
    chp = cherry-pick
    co = checkout
    df = diff
    dc = diff --cached
    dn = diff --name-only
    da = diffall
    fa = fetch --all
    std = !zenity --list --title \"Changed files\" --width=1000 --height=1000 --text \"Modified found files\" --column \"Check\" --checklist --column \"Files\" --separator=\"\n\" `git status -s | grep -v \"^??\"` | xargs git diff
    lg = log
    pom = push origin master
    changes = log --reverse --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s%Creset' --date=relative
    graph = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s%Creset' --date=relative
    k = !gitk --all &
    kbr = !gitk --all --simplify-by-decoration &
    info = config --list
    summary = log --oneline
    tags = tag -n1 -l
    sd = diff remotes/nsv-tangox
    mu = !git ls-files -v | grep ^[a-z] | awk '{print $2}'
    marked-unchanged = !git ls-files -v | grep ^[a-z] | awk '{print $2}'
    patch = diff --no-ext-diff --no-prefix -p
    ap = apply -p0
    au = update-index --assume-unchanged
    nau = update-index --no-assume-unchanged
    sw = update-index --skip-worktree
    nsw = update-index --no-skip-worktree
    msw = !git ls-files -v | grep ^S | awk '{print $2}'
    nswa = !git ls-files -v | grep ^S | awk '{print $2}' | xargs git update-index --no-skip-worktree
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    pc = !git diff --no-ext-diff --no-prefix -p master | grep "+[[:space:]]*printf"
    diverges = !sh -c 'git rev-list --boundary $1...$2 | grep ^- | cut -c2-'
    pstash = stash show -p --no-ext-diff
    pnstash = stash show -p --name-only
    brg = !git branch | grep -v "\\\\-[0-9]\\\\{10\\\\}$"
    brclean = !git branch | grep "\\\\-[0-9]\\\\{10\\\\}$" | xargs git branch -D
    mt = mergetool
    lasttag = !sh -c 'git describe `git rev-list --tags --max-count=1`'
    wd = new-workdir .
    del-staged = !git commit -m "TMP" && git stash && git reset --hard HEAD^ && git stash pop
    unstg = !git st -s | grep "^\\\\sM" | awk '{print $2}'
    untrk = !git stu -s | grep "^??" | awk '{print $2}'
    stg = !git st -s | grep "^M" | awk '{print $2}'
    sl =  "!f() { git log -n1 `git svn find-rev r$1` & }; f"
    slv =  "!f() { git log -n1 -u `git svn find-rev r$1` | gvim -R - & }; f"
    slk = "!f() { gitk -n1    `git svn find-rev r$1` & }; f"

[merge]
    tool = kdiff3

[mergetool]
    prompt = true
    keepBackup = false

[color "status"]
    untracked = yellow
    branch = magenta
