[diff]
    external = /home/sch/Tools/tools/env/diffvimgit
    renames = true
[core]
    pager = cat
    editor = gvim -f
    whitespace = nowarn
    excludesfile = /home/sch/.gitignore

[apply]
    whitespace = fix

[user]
	name = sch
	email = sch@netgem.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    dn = diff --name-only
    lg = log
    pom = push origin master
    changes = log --reverse --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s%Creset' --date=relative
    graph = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s%Creset' --date=relative
    k = !gitk --all &
    kbr = !gitk --all --simplify-by-decoration &
    info = config --list
    summary = log --oneline
    tags = tag -n1 -l
    sd = diff remotes/nsv-tangox
    mu = !git ls-files -v | grep ^[a-z] | awk '{print $2}'
    marked-unchanged = !git ls-files -v | grep ^[a-z] | awk '{print $2}'
    patch = diff --no-ext-diff --no-prefix -p
    au = update-index --assume-unchanged
    nau =  update-index --no-assume-unchanged
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    pc = !git diff --no-ext-diff --no-prefix -p master | grep "+[[:space:]]*printf"
    diverges = !sh -c 'git rev-list --boundary $1...$2 | grep ^- | cut -c2-'
    pstash = stash show -p --no-ext-diff
    brg = !git branch | grep -v "\\\\-[0-9]\\\\{10\\\\}$"

[merge]
    tool = kdiff3

[mergetool]
    prompt = true
    keepBackup = false

[color "status"]
	untracked = yellow
